.home {
  max-width: 1000px;
  margin: 0 auto;
}

.home p {
  text-align: center;
  margin: 0 16px;
  padding: 0 16px;
}

.error {
  color: var(--error);
}

.cardListContainer p {
  text-align: center;
}
