.editMode {
  padding: 8px 20px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.actionContent {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.actionBar img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.actionBar img:hover {
  transform: scale(0.97);
}

.userCounter input[type="checkbox"] {
  display: none;
}

.userCounter {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 8px;
}

.userCounter .customCheckmark {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--white);
  position: relative;
  transition: all 0.2s ease-in-out;
}

.userCounter input[type="checkbox"]:checked + .customCheckmark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
  transform: translateY(-50%);
}

.icons {
  display: flex;
  gap: 16px;
}
