.cardListContainer {
  height: calc(100vh - 280px);
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--var-secondary-color);
  padding: 16px;
  margin-top: 4px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 1rem;
  justify-content: space-between;
  border: 1px solid var(--var-secondary-color);
}
